* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #fff;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}

header {
  color: gray;
}

main {
  color: green;
}
