.about-us-section {
  display: flex;
  flex-direction: row;
  height: 33%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.about-us-img {
  width: 50%;
}

.about-us-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.about-us-title {
  margin-bottom: 16px;
  font-size: 2rem;
}

.about-us-description {
  color: #979797;
  font-size: 1.1rem;
}
