.delivery__section {
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5%;
  margin-top: 6rem;
  position: relative;
}

.delivery__image {
  width: 50%;
}

.delivery__card {
  width: 50%;
}

.delivery__title {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.delivery__description {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #979797;
}

.delivery__buttons button {
  outline: inherit;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
  background-color: #fdcb35;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.delivery__buttons button i {
  margin-right: 0.5rem;
  font-size: 1.3rem;
  background-color: #fdcb35;
}

#icon-apple-size {
  font-size: 1.6rem;
}
